body {
    background-color: aliceblue;
}

h1 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
    color: blueviolet;
}

button{
    background: #0d8cf4;
}
  